body{
    background: linear-gradient(135deg, #3494e6, #ec6ead);
    height: 100vh;
    
    
        margin: 0;
        padding: 0;
       
        

}

.header {
    display: flex;
    justify-content: space-between; /* Pushes the logos and text to opposite ends */
    align-items: center; /* Aligns items vertically */
    
  }
  
  .logo img,
  .logo1 img {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }

/* Style for the login form */
.log {
    max-width: 1000px;
    height: 70%;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid white;
    box-shadow: 0px 0px 20px blue;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 13px;
}

/* Style for form headings */
.log h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #007bff;
}

/* Style for input fields */
.log input[type="text"],
.log input[type="password"] {
    width: 50%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

/* Style for buttons */
.log button[type="submit"] {
    width: 45%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.log button[type="reset"] {
    width: 45%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    transition: background-color 0.3s;
}

.log button:hover {
    background-color: #0056b3;
}

.log button[type="reset"]:hover {
    background-color: red;
}

.log button[type="submit"]:hover {
    background-color: green;
}

/* Style for links */
.log a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
}

.log a:hover {
    color:red;
}

 
.fing {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    width: 200px; /* Set the desired width */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    margin: 0 auto; /* Center the div horizontally */

    margin-top: 5%;
}
.fing img {
    max-width: 100%; /* Make sure the image doesn't exceed the container's width */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
}